<nav class="<%- nav %>">
    <ul>
        <li><a class="nav__el" href="/"><h3 class="inline navFont">Find Me Food Now!</h3></a></li>
        <li><a class="nav__el" href="/coffeeShops">Home</a></li>
        <li class="justify-end margin-right">
            <a class="nav__user">
                <div id="login" class="hide">Login</div>
                <form id="user" class="hide" method="POST">
                    <button class="button button--form">Logout</button>
                </form>
            </a>
        </li>
    </ul>
</nav>