/**********************************  WIDGETBAR MODULE  **********************************/
/* default widgetbar */
.widgetBar {
    display: flex;
    align-items: center;
    padding: 0.25em;
    justify-content: flex-start;
    background-color: var(--secondary-color);
    border-radius: 1em;
    border: none;
    height: 2rem;
}











/****************************** DROPDOWN BUTTON *******************************/
/* Default dropdown button */
.dropdown {
    display: inline-block;
    position: relative;
    background-color: var(--secondary-color);
    right: 1em;
    height: 2rem;
}
.dropdown__toggle {
    padding: 0.5em 2em 0.5em 1.5em;
    border: none;
    font-size: 1rem;
    background-color: inherit;
    cursor: pointer;
    height: 2rem;
}
/* CSS border arrows */
.dropdown__toggle::after {
    content: "";
    position: absolute;
    right: 1em;
    top: 1.1em;
    border: 0.3em solid;
    border-color: var(--dark-text) transparent transparent;
}
/* dropdown container */
.dropdown__drawer {
    display: none;
    position: absolute;
    left: 0;
    top: 2.1em;
    min-width: 100%;
    background-color: inherit;
    z-index: 1;
}
/* change the direction of the CSS border arrow if the dropdown menu is visible */
.dropdown.is-open .dropdown__toggle::after {
    top: 0.55em;
    border-color: transparent transparent var(--dark-text);
}
.dropdown.is-open .dropdown__drawer {
    display: block;
}
/* SVG class modifier */
.dropdown--svg svg {
    width: 1.5em; height: 1.5em;
}
.dropdown--svg .dropdown__toggle {
    padding: 0.4em .75em 0 0;
}
.dropdown--svg .dropdown__toggle::after {
    right: .1em;
    top: 0.9em;
}















/**********************************  MENU MODULE  **********************************/
/* Default menu */
.menu {
    margin: 0;
    box-shadow: 0 2px 4px 0;
}
.menu > li + li {
    border-top: 1px solid var(--accent-primary);
}
.menu > li {
    display: block;
    padding: 0.5em 1.5em;
    background-color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.menu > li:hover {
    background-color: var(--accent-primary);
}
/* SVG menu modifier */
.menu--svg > li{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 0.3em 0.25em 0 0.25em;
}

.menu--svg > li > p {
    font-size: 0.75em;
    font-weight: 400;
}


.card--v2.card {
    overflow: hidden;
    border-radius: 4em 4em 4em 4em;
}
/* Add rounded corners */
.card--v2 .card__image img {
    border-radius: 4em 4em 4em 4em;
}
.card--v2 .card__image a {
    border-radius: 4em 4em 4em 4em;
}
.card--v2 .card__image {
    border-radius: 4em 4em 4em 4em;
}
.card__image__top {
    display: grid;
    place-items: center;
    position: absolute;
    top: -4rem;
    left: 0;
    border-radius: 200rem 200em 0 0;
    width: 16rem;
    height: 4rem;
    -webkit-transition: transform .5s, background-color 1.5s 0.5s;
    transition: transform .5s, background-color 1.5s 0.5s;
}
.card__image__top a {
    color: #fff;
    font-size: 0.75em;
}
.card__image__bottom {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: -4em;
    left: 0;
    border-radius: 0 0 200em 200em;
    width: 16rem;
    height: 4rem;
    color: #fff;
    -webkit-transition: transform .5s, background-color 1.5s 0.5s;
    transition: transform .5s, background-color 1.5s 0.5s;
}
.card__image__bottom p {
    padding-left: 2rem;
    font-size: 0.75em;
}
/* override shadow effect */
.card--v2.card:hover {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.card--v2.card:hover .card__image__top{
    opacity: 1;
    transform: translateY(4em);
    background-color: rgba(0,0,0,0.4);
}
.card--v2.card:hover .card__image__bottom{
    opacity: 1;
    transform: translateY(-4em);
    background-color: rgba(0,0,0,0.4);
}