<%- include('../partials/header', {title: 'Login Page', stylesheet: ''}) %>
<%- include('../partials/navbar', {nav: 'nav'}) %>
<!-- Login Form -->
<div class="container container--center">
    <div class="card card--form">
        <h2 class="card__title">Login</h2>
        <div class="card__body">
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Enter username or password" autofocus required>
                <input type="password" name="password" placeholder="Enter password" required>
                <button class="button">Submit</button>
            </form>
            <p class="footer">Need an account? <a href="/register">Sign up</a></p>
        </div>
    </div>
</div>
</body>
</html>